@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
   background:
    radial-gradient(
      circle at 50% 10%,
      #910a543f 0%,
      rgba(0, 0, 0, 0.9) 60%
    ),
    #0a0608;
  height: 100dvh;
  background-color: black ;
  background-repeat: no-repeat;
 
  font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground);
 
 
}

::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #111827; 
}
::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}





